import { PureComponent } from 'react';

class ImagePicker extends PureComponent {
  constructor(props) {
    super(props);
    this.fileInput = null;
  }
  openPicker = () => {
    if (this.fileInput) {
      this.fileInput.click();
    }
  }
  handlePhotoChange = async () => {
    if (this.fileInput
      && this.fileInput.files
    ) {
      this.props.onImageChosen(this.fileInput.files);
    }
  }

  render() {
    return (
      <input
        type="file"
        ref={input => this.fileInput = input}
        onChange={this.handlePhotoChange}
      />
    );
  }
}

export default ImagePicker;
